src/.vs/LpDumper/v14/.suo
*.exe
*.pdb
src/LpDumper.ConsoleTest/bin/Debug/LpDumper.dll
*.config
src/LpDumper.ConsoleTest/bin/Release/LpDumper.ConsoleTest.vshost.exe.manifest
*.dll
src/LpDumper.ConsoleTest/obj/Debug/build.force
*.cache
src/LpDumper.ConsoleTest/bin/Debug/LpDumper.ConsoleTest.vshost.exe.manifest
*.txt